.button {
  background-color: lightcoral !important;
  color: white !important;
  border-radius: 1000px;
  border: 0;
  padding: 10px 20px !important;
  margin-top: 7% !important;
  font-size: 15px !important;
}

.marginInput {
  margin: 4%;
}

.lien {
  text-decoration: none !important;
  color: lightcoral;
  margin-top: 7%;
  background-color: inherit !important;
  box-shadow: inherit !important;
  margin-top: 7% !important;
}
